body{
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #4CAF50 50%, #E4E9FD 50%);
  height: 120vh;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 62.5%;
}

/* NAVBAR CSS START */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: right;
}

li a {
  display: block;
  font-size: 3rem;
  font-family: 'Baloo Da 2' serif;
  color: black;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(205, 205, 205);
}

#navbar-icon {
  position: absolute;
  right: 85%;
  top: -7px;
  font-family: 'Baloo Da 2';
  font-weight: 600;
}

#donate-button {
  width: 15rem;
  height: 5rem;
  background-color: rgb(0, 0, 55);
  border: none;
  border-radius: 2rem;
  font-family: 'Muli', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  margin: 1.2rem 1rem 0 0;
  text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

#donate-button:hover {
  background-color: rgb(0, 0, 93);
}

/* NAVBAR CSS END */

/* SIGN UP FORM START */

h3 {
  font-size: 30px;
  font-weight: 800;
  color: #4CAF50;
  margin: 0 0 40px 180px;
  text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.5);
}

#sign-up {
  background-color: rgb(250, 250, 250);
  margin: auto;
  width: 35%;
  padding: 30px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(15, 19, 66, 0.4) 0px 2px 4px, rgba(8, 56, 17, 0.3) 0px 7px 13px -3px, #370b0b33 0px -3px 0px inset;
}

/* .reg {
  align-items: center;
} */

/* #sign-up {
  border: none solid ;
  padding: 100px 100px;
  justify-content: center;
  max-width: 9000px;
  max-height: 90px;
  border-radius: 20px;
  box-shadow: rgba(15, 19, 66, 0.4) 0px 2px 4px, rgba(8, 56, 17, 0.3) 0px 7px 13px -3px, #370b0b33 0px -3px 0px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;

}  */
label{
  display: inline-block;
  /* float: left; */
  /* clear: left; */
  width: 150px;
  text-align: right;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}
.reg-pwd{
  white-space: nowrap;
  margin-left: -13px;
}
#repeat-password-register{
  margin-left: 23px;
}
input {
    display: inline-block;
    /* float: left; */
    background-color: #e7e7e7;
    border: none;
    padding: 5px;
    border-radius: 27px;
    margin: 0 0 20px 10px;
    font-size: 2rem; 
}
#available-days-register{
  padding: 10px;
}
h4{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
#signup-btn{
    width: 100px;
    height: 5rem;
    margin-left: 180px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2rem;
    font-family: 'Muli', serif;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: #4CAF50;
    -webkit-text-stroke: 0.2px black;
    margin-bottom: 4rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
#signup-btn:hover{
   box-shadow: 0 12px 16px 0 rgba(125, 184, 176, 0.24),0 17px 50px 0 rgba(10, 87, 97, 0.19);
}
#swap-btn{
  margin-left: 250px;
  margin-top: 10px;
  border-radius: 30px;
  border: none;  
}

button:hover{
  opacity:1
}
.dark-mode {
  background-color: black;
  background-image: -webkit-linear-gradient(65deg, #032532 50%, #1e011b 50%);
  
}
